<h1>Список</h1>



<table>
	<tr>
		<th>Автор</th>
		<th>Поезія</th>
		<th colspan="2"></th>		
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Читати', article_path(article) %></td>
			<td><%= link_to 'Редагувати', edit_article_path(article) %></td>
			<td><%= link_to 'Видалити', article_path(article),
              method: :delete,
              data: { confirm: 'Ви впевнені?' } %></td>
		</tr>
	<% end %>
</table>

