<p>
	<strong>Автор:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Поезія:</strong>
	<%= @article.text %>
</p>

<%= render partial: "likes/like", locals: {model_obj: @article } %>

<p></p>
<%= link_to 'Редагувати', edit_article_path(@article) %>
<%= link_to 'Назад', articles_path %>

<h3>Коментарі:</h3>
<%= render @article.comments %>

<h3>Додати коментар:</h3>
<%= render 'comments/form' %>


