<div id='like_<%= model_obj.class.name%>_<%= model_obj.id %>'>
	<!-- like -->
	(<%=count_like(model_obj)%>)
	<% if current_user.is_liked(model_obj) %>
		<%=link_to 'Подобається', like_create_path(id: model_obj.id, type: model_obj.class.name), method: :post, remote: true %>
	<% else %>
		<%=link_to 'Подобається', like_create_path(id: model_obj.id, type: model_obj.class.name), method: :post, remote: true %>
	<% end %>

	<!-- dislike -->
	(<%=count_dislike(model_obj)%>)
	<% if current_user.is_disliked(model_obj) %>
		<%=link_to 'Не подобається', dislike_create_path(id: model_obj.id, type: model_obj.class.name), method: :post, remote: true %>
	<% else %>
		<%=link_to 'Не подобається', dislike_create_path(id: model_obj.id, type: model_obj.class.name), method: :post, remote: true %>
	<% end %>
</div>